.tags
  = link_to 'All', people_path
  - tags.each do |available_tag|
    = link_to available_tag.title, people_path(tag_title: available_tag.title)

<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
.people
  - people.each do |person|
    .person-container{style: 'width: 300px; height:200px;display:inline-block;'}
      - if person.linkedin_url.present?
        <script type="IN/MemberProfile" data-id="#{person.linkedin_url}" data-format="inline" data-width="300" data-related="false"></script>
      - else
        .person{style: ' border: 1px solid #ddd;'}
          .image{style: 'display:inline-block;'}
            = image_tag person.photo.url(:thumb)
          .details{style: 'display:inline-block;'}
            %p
              %b= person.full_name
            %p= person.title
            %p= person.organization


