.tags
  = link_to 'All', people_path
  - tags.each do |available_tag|
    = link_to available_tag.title, people_path(tag_title: available_tag.title)

.people
  - people.each do |person|
    .person{style: 'display:inline-block; border: 1px solid #ddd;'}
      .image{style: 'display:inline-block;'}
        = image_tag person.photo.url(:thumb)
      .details{style: 'display:inline-block;'}
        %p
          %b= person.full_name
        %p= person.title
        %p= person.organization
