%h1 About

%p The Badger Entrepreneurship Forum (BEF) was started in 2009 by Pavan Nigam and David Bunzel, both graduates of the University of Wisconsin.  Pavan, a Bay Area-based serial entrepreneur (founder/CTO Healtheon/WebMD, founder/CEO Cendura, founder/CEO Trackle), joined the University of Wisconsin Board of Visitors in 2007, and soon got re-immersed in the Badger world.  David, the founder and CEO of DigitalMediaIX, has been very active with the Bay Area Badger community.  He also has been very involved with start-up companies.  David has founded and advised companies in the personal computer hardware and software business, Web 1.0, and Web 2.0 markets.  In addition, he has led three industry standards organizations, focusing on optical storage, physical/logical security, and smart energy.

%p Pavan and David recognized that the Bay Area had a significant number of very successful Badgers – entrepreneurs, CEOs, executives, venture capitalists, attorneys, investment bankers and consultants. In addition, there were a number of UW graduates involved in starting their own companies.   This led to the idea behind the Badger Entrepreneurship Forum where Badgers could leverage from each other’s experiences and networks.

%p The group holds events every 2-3 months and speakers are drawn from Badgers involved with different segments of the entrepreneurial ecosystem. Past speakers have included entrepreneurs, public company CEOs, investment bankers, and venture capitalists.


%h2 Board
.row
  - board_members.each do |person|
    %span.col-md-4
      .card
        .content
          .left-side
            =image_tag(person.photo.url(:thumb), class: 'profile')
            - if person.linkedin_url.present?
              = link_to image_tag('linkedin.png', class: 'linkedin-img'), person.linkedin_url

          .right-side
            %p.name= person.full_name
            %p.title= person.title
            %p.business= person.organization

= render 'welcome/contact'