

- if event
  #headerwrap{style: "background: url(#{event.photo.url(:huge)}); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"}
    %header.clearfix
      .container
        %article
          .event
            %p.talk-speaker= event.speaker
            %p.talk-title= event.title
            %p.talk-date= event.starts_at
            %p.talk-sponsor= event.host_name
            %p.talk-location
              %b= event.venue_name
            %p.talk-location
              =event.full_address
            - if !Event.past_events.include?(event)
              .rsvp
                = link_to 'RSVP', event.rsvp_url

.scrollblock
  %section#feature
    .container
      %article
        %p
          The Badger Entrepreneurship Forum (BEF) is an organization of the University of Wisconsin Alumni in the San Francisco Bay Area interested in promoting and supporting the University and its alumni.

%section#prev-speaker.single-page.scrollblock
  .container
    %h1 Previous Events
    .row
      - past_events.each do |event|
        %span.col-md-4
          %article.post
            = image_tag(event.photo.url(:medium), class: 'img-prev-speakers')
            .inside
              %p.prev-speaker= event.speaker
              %p.prev-title= event.title
              %p.prev-date= event.short_event_date
              %p.prev-sponsor= event.host_name
              .entry-content
                =link_to "READ MORE", event_path(event)