

- if event
  #headerwrap{style: "background: url(#{event.photo.url(:huge)}); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"}
    %header.clearfix
      .container
        %article
          .event
            %p.talk-speaker= event.speaker
            %p.talk-title= event.title
            %p.talk-date= event.starts_at
            - if event.host_name.present?
              %p.talk-sponsor
                %span.host Host:
                = event.host_name
            - if event.venue_name.present?
              %p.talk-location
                %span.venue Venue:
                %b= event.venue_name
            .more
              - if !event.past?
                %span.rsvp
                  = link_to 'RSVP', event.rsvp_url
              = link_to 'Read More', event_path(event)



.scrollblock
  %section#feature
    .container
      %article
        %p
          The Badger Entrepreneurship Forum (BEF) is an organization of the University of Wisconsin Alumni in the San Francisco Bay Area interested in promoting and supporting the University and its alumni.

%section#prev-speaker.single-page.scrollblock
  .container
    %h1 Previous Events
    .row
      - past_events.each do |event|
        %span.col-md-4
          %article.post
            = link_to(image_tag(event.photo.url(:medium), class: 'img-prev-speakers'), event_path(event))
            .inside
              %p.prev-speaker= event.speaker
              %p.prev-title= event.title
              %p.prev-date= event.short_event_date
              %p.prev-sponsor= event.host_name