.event
  %h2= event.title
  - if event.photo.exists?
    .image
      = image_tag event.photo.url
  %p
    %b= event.starts_at
  = event.description.html_safe if event.description.present?
  - if event.venue_street_address.present?
    = link_to event.venue_name, "https://maps.google.com/maps?q=#{event.full_address}"