.row.event
  .col-md-4
    - if event.photo.exists?
      .image
        = image_tag event.photo.url(:medium)
  .col-md-8
    .details
      %p
        %b= event.short_event_date
      %h2= event.title
      %p
        Host:
        = event.host_name
      %p.location
        - if event.venue_street_address.present?
          = link_to event.venue_name, event.map_link
        %br
        = event.full_address
      .more
        = link_to 'Read More', event_path(event)