=content_for :title do
  = event.title

=content_for :head do
  - if event.photo.exists?
    %meta{property: 'og:image',     content: "#{event.photo.url(:thumb)}"  }
  - else
    %meta{property: 'og:image',     content: "BascomHall.jpg" }
  %meta{property: 'og:title',     content: "#{event.title}" }
  %meta{property: 'og:url',       content: "#{event_url(event)}" }
  %meta{property: 'og:site_name', content: 'Badger Entrepreneurship Forum' }
  %meta{property: 'og:type',      content: 'website' }


%h1=event.title
%p
  %b= event.speaker
- if event.photo.exists?
  .image
    = image_tag event.photo.url(:large)
.details
  %p
    %b= event.short_event_date
  = event.description.html_safe
  - if event.photo_album_url.present?
    %p.photostream
      = link_to "View photos from this event", event.photo_album_url
  %hr
  %p
    Host:
    = event.host_name
  %p.location
    = event.venue_name
    %br
    = event.full_address
  - if event.venue_street_address.present?
    = link_to event.venue_name, event.map_link
